<section class="order" id="order">
  <div class="container">
    <div class="order-text">
      <div class="order-text-title double-title">
        <a routerLink="/order" [queryParams]="{product:formValues.productTitle+'1 '}">Хватит думать! </a>
        Доставим заказ за 30 минут!
      </div>
      <div class="order-text-message">
        Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на
        1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим
        сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
      </div>
    </div>
    <div class="order-form" id="order-form">
      <span class="p-float-label">
     <input type="text" class="order-input" id="product-input"
            pInputText
            [(ngModel)]="formValues.productTitle">
        <label for="product-input">Пицца</label>
      </span>

      <span class="p-float-label">
       <input type="text" class="order-input" id="address-input" pInputText [(ngModel)]="formValues.address">
    <label for="address-input">Адрес доставки</label>
</span>

      <span class="p-float-label">
       <input type="text" class="order-input" id="phone-input" pInputText [(ngModel)]="formValues.phone">
    <label for="phone-input">Телефон</label>
</span>

      <button class="btn" id="create-order" tuiButton (click)="createOrder()">Оформить заказ</button>
    </div>
    <div class="order-image wow animate__backInRight">
      <img src="../assets/images/pizza.png" alt="pizza">
    </div>
  </div>
</section>
