/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Muller;
  src: url("./assets/fonts/MullerRegular.otf");
}

@font-face {
  font-family: MullerBold;
  src: url("./assets/fonts/MullerBold.otf");
}

@font-face {
  font-family: MullerExtraBold;
  src: url("./assets/fonts/MullerExtraBold.otf");
}

body {
  background: white;
  font-family: Muller, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.burger {
  display: none;
}

.close {
  display: none;
}

.btn {
  background-color: rgb(255, 175, 24);
  width: 224px;
  height: 60px;
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 22px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "MullerBold", sans-serif;
  color: rgb(56, 36, 0);
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.btn.btn-white {
  background: transparent;
  border: 1px solid rgb(255, 175, 24);
  color: rgb(255, 175, 24);
}

@media screen and (max-width: 1229px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 424px) {
  .burger {
    display: block;
  }

  .burger svg {
    width: 36px;
    height: 36px;
    fill: rgb(250 215 167);
    margin-right: 20px;
  }
}

.main {
  margin: 132px 0 81px 0;
}

.main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-info {
  max-width: 622px;
}

.main-info h1 {
  font-family: MullerExtraBold, sans-serif;
  font-size: 45px;
  line-height: 1.222;
}

.double-title {
  color: rgb(185, 145, 80);
}

.double-title span {
  color: #ffaf18;
}

.main-advantages {
  margin-top: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantage {
  max-width: 306px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 47px;
}

.advantage-text {
  margin-left: 16px;
}

.advantage-title {
  font-size: 16px;
  font-family: "MullerExtraBold", sans-serif;
  color: rgb(255, 175, 24);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage-description {
  font-size: 16px;
  color: rgb(185, 145, 80);
}

.main-action {
  margin-top: 60px;
}


.products {
  padding: 80px 0 120px 0;
}

.products-title {
  font-size: 35px;
  font-family: "MullerBold", sans-serif;
  color: rgb(189, 152, 92);
  text-align: center;
}

.products-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 35px;
}


.order {
  padding: 120px 0 115px 0;
  overflow: hidden;
}

.order .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.order-text {
  max-width: 384px;
}

.order-text-title {
  font-size: 35px;
  font-family: "MullerExtraBold", sans-serif;
  margin-bottom: 65px;
}

.order-text-message {
  font-size: 16px;
  color: rgb(185, 145, 80);
  line-height: 1.5;
}

.order-form {
  margin-left: 122px;
  max-width: 330px;
}

.order-input {
  border: 1px solid rgb(185, 145, 80);
  width: 330px;
  height: 60px;
  font-size: 18px;
  color: rgb(131, 103, 51);
  padding: 23px 22px 24px 22px;
  margin-bottom: 24px;
  box-sizing: border-box;
  outline: none;
}

.order-input::placeholder {
  color: rgb(203, 168, 110);
}

.order .btn {
  width: 330px;
  height: 60px;
}

.order-image {
  width: 282px;
  position: relative;
  margin-left: 78px;
}

.order-image img {
  position: absolute;
  bottom: -35px;
  left: 0;
}


.hvr-sweep-to-right:before {
  background: rgb(134, 94, 21);
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.parallax-window {
  min-height: 600px;
  background: transparent;
}

.cookie {
  display: none;
  position: fixed;
  bottom: 30px;
  left: 20px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 330px;
}

.cookie-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-family: MullerBold, sans-serif;
}

.cookie-title span {
  font-size: 40px;
  cursor: pointer;
}

.cookie-text {
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
}

.cookie-button .btn {
  border: 0;
  outline: none;
  margin-top: 10px;
  width: 100%;
}

/*1024-1229*/
@media screen and (max-width: 1229px) {

  .main-image {
    width: 400px;
  }

  .main-image img {
    width: 100%;
  }

  .products-items {
    justify-content: center;
  }


  .order-form {
    margin-left: 45px;
  }

  .order .container {
    max-width: 1024px;
  }
}

/*768-1023*/
@media screen and (max-width: 1023px) {

  .main .container {
    flex-direction: column;
  }

  .main-image {
    order: 1;
  }

  .main-info {
    order: 2;
  }

  .main {
    margin-top: 70px;
  }

  .main-info h1 {
    text-align: center;
  }

  .main-action {
    text-align: center;
  }

  .products {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .order {
    padding-top: 60px;
    position: relative;
  }

  .order-image {
    position: absolute;
    z-index: -1;
    right: calc(50% - 400px);
  }

  .order-image img {
    position: relative;
  }

  .order .container {
    justify-content: center;
  }
}

/*425-767*/
@media screen and (max-width: 767px) {

  .cart {
    margin-left: 20px;
  }

  .main-info h1 {
    line-height: 45px;
  }

  .main-advantages {
    max-width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .order .container {
    flex-direction: column;
    align-items: center;
  }

  .order-text-title {
    text-align: center;
    margin-bottom: 30px;
  }

  .order-text-message {
    text-align: center;
    margin-bottom: 25px;
  }

  .order-form {
    margin-left: 0;
    flex-basis: 100%;
  }

}

@media screen and (max-width: 656px) {
  .main-advantages {
    max-width: 306px;
  }
}

/*375-424*/
@media screen and (max-width: 424px) {

  .main-image {
    width: 100%;
  }

}

/*320-374*/
@media screen and (max-width: 443px) {
  .main-info h1 {
    font-size: 38px;
  }

  .order-form {
    text-align: center;
  }

  .order-input {
    width: 290px;
  }

  .order .btn {
    width: 290px;
  }


}

.loader-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.53);
}

.loader {
  border: 15px solid #f3f3f3;
  border-top:15px solid #ffaf18;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}
.footer{float:end}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
